.contact{
  margin-bottom: 100px;
}
.contact-top{
  @extend .portfolio-top;
  margin-bottom: 50px;
}
.contact-top__icon{
  @extend .portfolio-top__icon;
}
.contact-top__title{
  @extend .portfolio-top__title;
}


.envelope {
  background: #fbfbfb;
  padding: 10px;
  min-height: 323px;
  text-align: center;
}
.envelope__title{
  @include font-size(26);
  font-weight: normal;
  color: #5c5c5c;
  text-transform: uppercase;
}
.envelope__line{
  border-top: 1px solid #737373;
  margin-top: 0;
  height: 1px;
}
.envelope__ampersand{
  position: relative;
  bottom: 15px;
  background: #fbfbfb;
}
.envelope__title-sub{
  @include font-size(20);
  text-transform: uppercase;
}
.envelope-top{
  margin-bottom: 50px;
}


.socials{
  margin-bottom: 50px;
}
.socials__list{
  font-size: 0;
}
.socials__item{
  @include inline-block(middle);
  margin-left: 15px;

  &:first-child{
    margin-left: 0;
  }
}
.socials__link{
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  transition: all 0.3s ease-in-out;
  @include border-radius(5px);

  &:hover{
    background: white;
    box-shadow: 7px 8px 7px rgba(1, 1, 1, 0.5);
    transform: scale(1.1);
    
    .socials__icon{
      color: black;
      transition: all 0.5s ease-out;
    }
  }
}
.socials__icon{
  @include font-size(40);
  @extend %align-v;
  display: inline;
  color: white;
}


.form{
  font-family: 'Dosis', sans-serif;
  color: #737373;
  transform: translateY(200px);
}
.form__label{
  @include font-size(16);
  margin-left: 10px;
}
.form__input{
  @include font-size(14);
}
.form__textarea{
  resize: none;
  color: #737373;
}
.input-wrap{
  position: relative;
}
.tooltip-wrap{
  position: absolute;
  left: 50%;
  top: -17px;
  transform: translateX(-50%);
}
.tooltip{
  color: white;
  padding: 5px 10px;
  background: black;
  @include border-radius(5px);
  position: relative;

  &:after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #000000 transparent transparent transparent;
  }
}
.form__btn{
  height: 40px;
  width: 233px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &:hover{
    box-shadow: 7px 11px 7px rgba(1, 1, 1, 0.5);
    transform: scale(1.025);
  }
}
.form__btn-submit{
  background: #109F9A;
}
.form__btn-reset{
  background: #000;
}

.empty-field{
  border-color: #f00;
  background-color: rgba(255, 224, 224, 0.9);
}



// Animation
.animate-top{
  transform: translateY(-100px);
  transition: all 0.5s ease-in-out;
}

.animate-back{
  transform: translateY(0px) rotate(5deg) scale(1.2);
  transition: all 0.5s ease-in-out;
}
.animate-rotation{
  transform: rotate(-5deg) scale(1);
  transition: all 0.5s ease-in-out;
}
.animate-rotation-back{
  transform: rotate(0deg) scale(1);
  transition: all 0.5s ease-in-out;
}


// Success window
.success{
  @include absolute-center;
  width: 200px;
  height: 100px;
  background: palegreen;
  border-radius: 5px;
  border: 2px solid black;
  display: none;
}
.success-text{
  color: black;
  margin-top: 20px;
}