.portfolio>.row{
  margin-bottom: 70px;
}

.portfolio-top{
  border-bottom: 1px solid #c9c9c9;
  @extend %clearfix;
  
}

.portfolio-top__icon{
  background: url(../img/bg.png) repeat;
  position: relative;
  top: 10px;
  padding-right: 15px;
  @include font-size(14);
}
.portfolio-top__title{
  background: url(../img/bg.png) repeat;
  position: relative;
  top: 13px;
  padding-left: 10px;
  text-transform: uppercase;
  float: right;
  @include font-size(16);
  letter-spacing: 4px;
}

.showcase{
  display: none;
  padding: 10px 0;
  border-top: 1px solid #8e8e8e;
  border-bottom: 1px solid #8e8e8e;
  margin-top: 70px;
}
.inner-showcase{
  background: url(../img/showcase-bg.png) repeat;
  height: 500px;
  position: relative;
  padding-top: 30px;
  box-shadow: inset 1px 5px 5px 3px rgba(0,0,0,0.5);
}
.showcase__content{
  position: relative;
  overflow: hidden;
  padding: 0;

  &:hover{
    .showcase__figcapture{
      transform: translateY(0px);
    }
    .showcase__img{
      transform: scale(1.025);
    }
  }
}
.showcase__img{
  box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.5);
  display: block;
  transition: all 0.5s ease-in-out;
}
.showcase__figcapture{
  position: absolute;
  padding: 20px 50px;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}
.showcase__close{
  @include abs-pos($top: -10px, $right: 15px);
  color: #109f9a;
}
.work-title {
  color: #109f9a;
  @include font-size(29);
}
.work-text{
  color: #fff;
  font-size: 17px;
}
.visit-btn{
  padding: 15px 0px;
  color: #fff;
  display: block;
  font-size: 16px;
  background: #0e7f7b;
  margin: 30px 0px;
  text-transform: uppercase;
  width: 80%;
  transition: background 0.3s ease-in;

  &:before{
    background: #109f9a url(../img/visit.png) center center no-repeat;
    content: "";
    padding: 16px 27px;
    margin-right: 15px;
    box-shadow: 2px 0px 2px #0a5956;
  }
  &:hover{
    background: #109f9a;
    color: #fff;
    transition: background 0.4s ease-out;
  }
}

.works__list{

}
.works__item{
  height: 190px;
  width: 230px;
  margin: 20px;
  float: left;
  border: 1px solid #737373;
  padding: 10px;
  position: relative;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(100px);

  &:hover{
    background: #109f9a;
    transition: background 0.5s ease-out;
  }
}

.thumb{
  overflow: hidden;
  background: url(../img/showcase-bg.png) repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}
.thumb__img{
  transition: all 0.4s ease-out;
  @include absolute-center();

  &:hover{
    transition: all 0.4s ease-out;
  }
}

.show{
  opacity: 1;
  transform: translateX(0px);
}