@font-face {
    font-family: 'Cookie';
    src: url('../fonts/cookie-regular-webfont.woff2') format('woff2'),
         url('../fonts/cookie-regular-webfont.woff') format('woff'),
         url('../fonts/cookie-regular-webfont.svg#cookieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'dosisbold';
    src: url('../fonts/dosis-bold-webfont.woff2') format('woff2'),
         url('../fonts/dosis-bold-webfont.woff') format('woff'),
         url('../fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextrabold';
    src: url('../fonts/dosis-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/dosis-extrabold-webfont.woff') format('woff'),
         url('../fonts/dosis-extrabold-webfont.svg#dosisextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextralight';
    src: url('../fonts/dosis-extralight-webfont.woff2') format('woff2'),
         url('../fonts/dosis-extralight-webfont.woff') format('woff'),
         url('../fonts/dosis-extralight-webfont.svg#dosisextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosismedium';
    src: url('../fonts/dosis-medium-webfont.woff2') format('woff2'),
         url('../fonts/dosis-medium-webfont.woff') format('woff'),
         url('../fonts/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Dosis';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosissemibold';
    src: url('../fonts/dosis-semibold-webfont.woff2') format('woff2'),
         url('../fonts/dosis-semibold-webfont.woff') format('woff'),
         url('../fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}