.back-to-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: url(../img/back-to-top.png) no-repeat;
  background-color: #696969;
  width: 56px;
  height: 56px;
  z-index: 5;
  color: #fff;
  display: none;
  border-radius: 5px;
  
  &:hover{
    background-color: shade(#696969, 70%);
    transition: all 0.3s;
  }
}