extends ../main

block title
  | Home page

block content
  a(href="#head").to-top-btn
    .back-to-top#back-to-top
  main.main
    include ../_common/_intro
    include ../_common/_portfolio
    include ../_common/_about
    include ../_common/_contact