section.about#about
  .row
    .medium-12.columns.about__container
      .about-top
        i.fa.fa-child(aria-hidden='true').about-top__icon
        .about-top__title About
      .medium-6.columns.about__column-1
        h3.about__title Who I am
        p.about__text I'm sure you don't have enough time and you also only want to check my workout so I'll be quick. I'm not the smartest, but I'm smart. I studied computer science at the university. After that I found a job in a company called Icecat, where I'm currently working. I started to make stuff for the web in 2015. I've already done some projects on freelance. Currently, I live in Kyiv and want to increase my knowledge in frontend development. Maybe you can help me?
      .medium-6.columns.about__column-2
        h3.about__title What I do
        p.about__text I build websites. I specialize in front-end development (HTML5, CSS3, Javascript) and want to focus on developing SPA in the future. If you want to hire me or just to say "Hello!", you can send me a message from the form below...