section.about#about
  .row
    .medium-12.columns
      .about-top
        i.fa.fa-child(aria-hidden='true').about-top__icon
        .about-top__title About
      .medium-6.columns
        h3.about__title Who I am
        p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum sint aperiam excepturi, quis, corporis praesentium eligendi quam officiis omnis molestiae. Eum provident enim, quia sequi iure facilis consequatur illo! Tempore harum nisi sed quidem officiis, quas repellendus ex doloribus incidunt distinctio sunt saepe nam, vel animi labore quibusdam tenetur quasi?
      .medium-6.columns
        h3.about__title What I do
        p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto illum illo, vel doloremque quam consequatur voluptatibus sapiente nobis aliquam delectus, expedita, quas tempora alias odio autem rerum sit iste quos? Voluptas voluptates aperiam, asperiores quos possimus nisi? Eaque vero nemo, inventore porro. Quas sunt at deleniti id iusto officiis quia!