header.header
	.container
		.logo
			a(href="#").logo__link
				img(src="img/logo.jpg", alt="logo").logo-img
		.skills
			ul.skills__list
				li.skills__item html
				li.skills__item css
				li.skills__item javascript
		.btn
			a(href="#").btn__link enter