header.header#head
  .left-arrow
  .left-arrow-t
  .right-arrow
  .right-arrow-t
  nav.row.menu
    .menu-left
      ul.menu__list
        li.menu-left__item
          a.menu__link(href="#portfolio") 
            i(aria-hidden="true").fa.fa-television
            span.menu__text P
            |ortfolio
        li.menu-left__item
          a.menu__link(href="http://www.apnweb.ru") 
            i(aria-hidden="true").fa.fa-home
            span.menu__text H
            |ome
    .logo
      img(src="img/logo.png", alt="logo").logo-img
    .menu-right
      ul.menu__list
        li.menu-right__item
          a.menu__link(href="#about") 
            i(aria-hidden="true").fa.fa-user
            span.menu__text A
            |bout
        li.menu-right__item
          a.menu__link(href="#contact") 
            i(aria-hidden="true").fa.fa-envelope
            span.menu__text C
            |ontact
    .menu-small
      ul.menu-small__list
        li.menu-small__item
          a.menu-small__link(href="#portfolio")
            i(aria-hidden="true").fa.fa-television
            span.menu__text P
            |ortfolio
        li.menu-small__item
          a.menu-small__link(href="#about")
            i(aria-hidden="true").fa.fa-user
            span.menu__text A
            |bout
        li.menu-small__item
          a.menu-small__link(href="#contact")
            i(aria-hidden="true").fa.fa-envelope
            span.menu__text C
            |ontact

