section.intro#intro
  .row.intro__wrap
    .intro__title
      .intro__greet Hello
    .intro__content
      .intro__text1
      .intro__text2
      .intro__text3
  .row
    .intro__img-wrap
      .img
      .bag
      .boots
      .phone
      .pencil
