section.portfolio#portfolio
  .row
    .medium-12.columns
      .portfolio-top
        i(aria-hidden="true").fa.fa-television.portfolio-top__icon
        .portfolio-top__title portfolio
  .showcase#showcase
    .inner-showcase#inner-showcase
      .row
        .medium-12.columns
          a(href="#").showcase__close#close
            img(src="img/close.jpg", alt="close-button")
          figure.showcase__content.columns.medium-7
            a(href="", target="_blank").link
              img(src="").showcase__img#img
              figcapture.showcase__figcapture#figcapture
          .columns.medium-4
            h3.work-title#title
            p.work-text#text
            a(href="", target="_blank").visit-btn.link Visit site
  .row.works
    .medium-12.columns
      ul.works__list
        li.works__item
          a(href="#ipadApps").works__link
            .thumb
              img(src="./img/ipadApps-thumb.png", alt="Ipad Apps").thumb__img
        li.works__item
          a(href="#iso").works__link
            .thumb
              img(src="./img/iso-mss-thumb.png", alt="International Certification System").thumb__img
        li.works__item
          a(href="#shop").works__link
            .thumb
              img(src="./img/shop-thumb.png", alt="Shop").thumb__img
        li.works__item
          a(href="#generator").works__link
            .thumb
              img(src="./img/generator-thumb.png", alt="Generator").thumb__img
        li.works__item
          a(href="#drugofilter").works__link
            .thumb
              img(src="./img/drugofilter-thumb.png", alt="Drugofilter").thumb__img