section.portfolio#portfolio
  .row
    .medium-12.columns
      .portfolio-top
        i(aria-hidden="true").fa.fa-television.portfolio-top__icon
        .portfolio-top__title portfolio
  .showcase#showcase
    .inner-showcase#inner-showcase
      .row
        .medium-12.columns
          a.showcase__close#close
            img(src="img/close.jpg", alt="close-button")
          figure.showcase__content.columns.medium-7
            a(href="").link
              img(src="").showcase__img#img
              figcapture.showcase__figcapture#figcapture
          .columns.medium-4
            h3.work-title#title
            p.work-text#text
            a(href="").visit-btn.link Visit site
  .row.works
    .medium-12.columns
      ul.works__list
        li.works__item
          a(href="#shop").works__link
            .thumb
              img(src="./img/shop-thumb.png", alt="shop-thumb").thumb__img
        li.works__item
          a(href="#ipadApps").works__link
            .thumb
              img(src="", alt="").thumb__img
        li.works__item
          a(href="#ostrov").works__link
            .thumb
              img(src="", alt="").thumb__img
        li.works__item
          a(href="#generator").works__link
            .thumb
              img(src="", alt="").thumb__img
