section.portfolio
  .row
    .portfolio-top.medium-12.columns
      i(aria-hidden="true").fa.fa-television.portfolio-top__icon
      .portfolio-top__title portfolio
  .showcase#showcase
    .inner-showcase#inner-showcase
      .row
        .medium-12.colums
          a.showcase__close#close
            img(src="img/close.jpg", alt="close-button")
          .showcase__content
      .row.works
        .medium-12.columns
          ul.works__list
            li.works__item
              a(href="")
                span.thumb
                  img(src="", alt="")
            li.works__item
              a(href="")
                span.thumb
                  img(src="", alt="")
            li.works__item
              a(href="")
                span.thumb
                  img(src="", alt="")
            li.works__item
              a(href="")
                span.thumb
                  img(src="", alt="")
